In [1]:
import pandas as pd

In [2]:
labs = pd.read_csv('labs_mon_2023_06_26_fixed_tz.csv')

In [3]:
labs.head()

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
0,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,SODIUM,142,142,mmol/L,Normal,135.0,145.0,NaN
1,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:33:00Z,2020-08-01T09:46:00Z,481797,RAPID COVID (aka Rapid Coronavirus 2019 (SARS-...,NaN,SARS-COV-2 RNA,Not Detected,1,NaN,Normal,NaN,NaN,NaN
2,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CHLORIDE,103,103,mmol/L,Normal,98.0,107.0,NaN
3,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,ANION GAP,12,12,mmol/L,Normal,5.0,15.0,NaN
4,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,ALKALINE PHOSPHATASE,99,99,U/L,Normal,35.0,105.0,NaN

In [5]:
labs['CSN'].nunique()

151958

In [6]:
def label_rows_extract(label):
    label_rows = labs[labs['Component_name'].str.contains(label, case=False, na=False)]
    print('Number of unique CSNs with label '+label, label_rows['CSN'].nunique())
    print('Levels of label '+label, label_rows['Component_abnormal'].unique())
    return label_rows

# ECG

## Troponin

In [9]:
troponin_rows = label_rows_extract('HIGH SENSITIVITY TROPONIN')

Number of unique CSNs with label HIGH SENSITIVITY TROPONIN 32121
Levels of label HIGH SENSITIVITY TROPONIN ['Critical High' 'Abnormal High' 'Normal']

In [10]:
troponin_rows

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
9070692,131316755104,2022-07-26T19:32:00Z,2022-07-26T20:53:00Z,2022-07-26T22:36:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"16,084",16084,ng/L,Critical High,NaN,NaN,NaN
9070694,131316755104,2022-07-26T23:07:00Z,2022-07-27T06:36:00Z,2022-07-27T07:46:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"20,341",20341,ng/L,Critical High,NaN,NaN,NaN
9070699,131316755104,2022-07-26T23:07:00Z,2022-07-27T00:21:00Z,2022-07-27T01:51:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"17,404",17404,ng/L,Critical High,NaN,NaN,NaN
9070728,131316755104,2022-07-27T04:00:00Z,2022-07-27T13:13:00Z,2022-07-27T14:21:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"17,910",17910,ng/L,Critical High,NaN,NaN,NaN
9070753,131316755104,2022-07-27T10:00:00Z,2022-07-27T16:16:00Z,2022-07-27T17:55:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"20,206",20206,ng/L,Critical High,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26112747,131353632713,2023-06-01T03:51:00Z,2023-06-01T04:04:00Z,2023-06-01T04:47:00Z,447650,"Troponin I, High Sensitivity",Abnormal,HIGH SENSITIVITY TROPONIN,32,32,ng/L,Abnormal High,NaN,NaN,NaN
26112790,131353632713,2023-06-01T04:58:00Z,2023-06-01T09:09:00Z,2023-06-01T09:41:00Z,447650,"Troponin I, High Sensitivity",Abnormal,HIGH SENSITIVITY TROPONIN,33,33,ng/L,Abnormal High,NaN,NaN,NaN
26113239,131353632815,2023-06-01T04:08:00Z,2023-06-01T05:23:00Z,2023-06-01T06:07:00Z,447650,"Troponin I, High Sensitivity",NaN,HIGH SENSITIVITY TROPONIN,<4,<4,ng/L,Normal,NaN,NaN,NaN
26113864,131353634216,2023-06-01T06:18:00Z,2023-06-01T06:55:00Z,2023-06-01T07:28:00Z,447650,"Troponin I, High Sensitivity",Abnormal,HIGH SENSITIVITY TROPONIN,8,8,ng/L,Abnormal High,NaN,NaN,NaN
26113903,131353634216,2023-06-01T09:27:00Z,2023-06-01T10:53:00Z,2023-06-01T11:25:00Z,447650,"Troponin I, High Sensitivity",Abnormal,HIGH SENSITIVITY TROPONIN,9,9,ng/L,Abnormal High,NaN,NaN,NaN

In [11]:
troponin_rows['Component_abnormal'].unique()

array(['Critical High', 'Abnormal High', 'Normal'], dtype=object)

In [13]:
abnormality_mapping = {
    'Normal': 0,
    'Abnormal High': 1,
    'Critical High': 2
}

# Assuming 'df' is your DataFrame
troponin_rows['Component_abnormal_label'] = troponin_rows['Component_abnormal'].map(abnormality_mapping)
troponin_rows.head()

/tmp/ipykernel_2929/4090941964.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  troponin_rows['Component_abnormal_label'] = troponin_rows['Component_abnormal'].map(abnormality_mapping)

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc,Component_abnormal_label
9070692,131316755104,2022-07-26T19:32:00Z,2022-07-26T20:53:00Z,2022-07-26T22:36:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"16,084",16084,ng/L,Critical High,NaN,NaN,NaN,2
9070694,131316755104,2022-07-26T23:07:00Z,2022-07-27T06:36:00Z,2022-07-27T07:46:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"20,341",20341,ng/L,Critical High,NaN,NaN,NaN,2
9070699,131316755104,2022-07-26T23:07:00Z,2022-07-27T00:21:00Z,2022-07-27T01:51:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"17,404",17404,ng/L,Critical High,NaN,NaN,NaN,2
9070728,131316755104,2022-07-27T04:00:00Z,2022-07-27T13:13:00Z,2022-07-27T14:21:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"17,910",17910,ng/L,Critical High,NaN,NaN,NaN,2
9070753,131316755104,2022-07-27T10:00:00Z,2022-07-27T16:16:00Z,2022-07-27T17:55:00Z,447650,"Troponin I, High Sensitivity",Critical,HIGH SENSITIVITY TROPONIN,"20,206",20206,ng/L,Critical High,NaN,NaN,NaN,2

In [14]:
troponin_rows.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/troponin_rows.csv')

In [10]:
trop_labels = troponin_rows.groupby('CSN').apply(assign_trop_label).reset_index(name="Label")
trop_labels

                CSN  Label
0      131290415760      0
1      131290418105      0
2      131290418527      0
3      131290418864      1
4      131290419365      0
...             ...    ...
68620  131353631996      2
68621  131353632217      1
68622  131353632713      2
68623  131353632815      0
68624  131353634216      2

[68625 rows x 2 columns]

In [12]:
def assign_trop_label(group):
    if 'Normal' in group['Component_abnormal'].values:
        return 0  
    elif 'Critical High' in group['Component_abnormal'].values:
        return 1
    else:
        return 2

In [11]:
earliest_collection_time = troponin_rows.groupby('CSN')['Collection_time'].min().reset_index()
earliest_collection_time

                CSN       Collection_time
0      131290415760  2020-08-03T15:08:00Z
1      131290418105  2020-08-01T10:33:00Z
2      131290418527  2020-08-01T10:43:00Z
3      131290418864  2020-08-01T12:11:00Z
4      131290419365  2020-08-01T14:44:00Z
...             ...                   ...
68620  131353631996  2023-06-01T18:30:00Z
68621  131353632217  2023-06-01T03:49:00Z
68622  131353632713  2023-06-01T04:04:00Z
68623  131353632815  2023-06-01T05:23:00Z
68624  131353634216  2023-06-01T06:55:00Z

[68625 rows x 2 columns]

In [12]:
trop_meta_info = pd.merge(trop_labels, earliest_collection_time, on='CSN')
trop_meta_info = trop_meta_info[['CSN', 'Collection_time', 'Label']]
trop_meta_info

                CSN       Collection_time  Label
0      131290415760  2020-08-03T15:08:00Z      0
1      131290418105  2020-08-01T10:33:00Z      0
2      131290418527  2020-08-01T10:43:00Z      0
3      131290418864  2020-08-01T12:11:00Z      1
4      131290419365  2020-08-01T14:44:00Z      0
...             ...                   ...    ...
68620  131353631996  2023-06-01T18:30:00Z      2
68621  131353632217  2023-06-01T03:49:00Z      1
68622  131353632713  2023-06-01T04:04:00Z      2
68623  131353632815  2023-06-01T05:23:00Z      0
68624  131353634216  2023-06-01T06:55:00Z      2

[68625 rows x 3 columns]

In [55]:
trop_meta_info.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/trop_meta_info.csv')

In [62]:
trop_meta_info[trop_meta_info['CSN'].astype(str).str.endswith('00')]

                CSN       Collection_time  Label
211    131290582400  2020-08-05T04:25:00Z      0
270    131290649100  2020-08-06T03:25:00Z      0
272    131290649700  2020-08-06T04:00:00Z      0
315    131290693100  2020-08-06T20:46:00Z      0
457    131290802000  2020-08-09T21:06:00Z      0
...             ...                   ...    ...
68185  131353348000  2023-05-26T00:46:00Z      1
68239  131353410700  2023-05-26T22:43:00Z      0
68323  131353435700  2023-05-28T04:40:00Z      0
68341  131353437300  2023-05-28T08:41:00Z      1
68411  131353449100  2023-05-29T09:58:00Z      0

[694 rows x 3 columns]

In [69]:
labs[labs['CSN']==131353449100]

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
26033207,131353449100,2023-05-29T09:50:00Z,2023-05-29T09:58:00Z,2023-05-29T10:35:00Z,447650,"Troponin I, High Sensitivity",NaN,HIGH SENSITIVITY TROPONIN,<4,<4,ng/L,Normal,NaN,NaN,NaN
26033208,131353449100,2023-05-29T09:50:00Z,2023-05-29T09:58:00Z,2023-05-29T10:42:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,AST (SGOT),21,21,U/L,Normal,10.0,35.00,NaN
26033209,131353449100,2023-05-29T09:50:00Z,2023-05-29T09:58:00Z,2023-05-29T10:42:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,GLUCOSE,101,101,mg/dL,Normal,70.0,140.00,NaN
26033210,131353449100,2023-05-29T09:50:00Z,2023-05-29T09:58:00Z,2023-05-29T10:42:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,BLOOD UREA NITROGEN (BUN),11,11,mg/dL,Normal,6.0,20.00,NaN
26033211,131353449100,2023-05-29T09:50:00Z,2023-05-29T09:58:00Z,2023-05-29T10:42:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CORRECTED CALCIUM,8.7,8.7,mg/dL,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26033480,131353449100,2023-06-05T14:39:00Z,2023-06-05T14:46:00Z,2023-06-05T15:14:00Z,659308,CBC with Differential (CBCD),NaN,RED CELL DISTRIBUTION WIDTH (RDW),12.6,12.6,%,Normal,11.5,14.50,In Progress
26033481,131353449100,2023-06-05T14:39:00Z,2023-06-05T14:46:00Z,2023-06-05T15:14:00Z,659308,CBC with Differential (CBCD),NaN,LYMPHOCYTE % (AUTO DIFF),22.9,22.9,%,NaN,NaN,NaN,NaN
26033482,131353449100,2023-06-05T14:39:00Z,2023-06-05T14:46:00Z,2023-06-05T15:14:00Z,659308,CBC with Differential (CBCD),NaN,IMMATURE GRANULOCYTE % (AUTODIFF) WAM,0.2,.2,%,Normal,0.0,0.70,NaN
26033483,131353449100,2023-06-05T14:39:00Z,2023-06-05T14:46:00Z,2023-06-05T15:14:00Z,659308,CBC with Differential (CBCD),NaN,NEUTROPHIL % (AUTO DIFF),65.4,65.4,%,NaN,NaN,NaN,NaN
26033484,131353449100,2023-06-05T14:39:00Z,2023-06-05T14:46:00Z,2023-06-05T15:14:00Z,659308,CBC with Differential (CBCD),NaN,"MONOCYTE, ABSOLUTE (AUTO DIFF)",0.75,.75,K/uL,Normal,0.3,0.95,NaN

In [13]:
trop_labels = pd.DataFrame(trop_labels)

In [14]:
trop_labels.to_csv('troponin_labels.csv')

## Potassium

In [7]:
potassium_rows = label_rows_extract('potassium')

Number of unique CSNs with label potassium 140002
Levels of label potassium ['Abnormal Low' 'Normal' 'Critical Low' 'Abnormal High' nan
 'Critical High']

In [8]:
potassium_rows

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
7,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.3,3.3,mmol/L,Abnormal Low,3.5,5.5,NaN
88,131290415760,2020-08-02T14:17:00Z,2020-08-02T14:29:00Z,2020-08-02T15:21:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.6,3.6,mmol/L,Normal,3.5,5.5,NaN
107,131290415760,2020-08-02T23:43:00Z,2020-08-03T00:42:00Z,2020-08-03T01:43:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.7,3.7,mmol/L,Normal,3.5,5.5,NaN
131,131290415760,2020-08-03T14:31:00Z,2020-08-03T15:08:00Z,2020-08-03T16:17:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.9,3.9,mmol/L,Normal,3.5,5.5,NaN
134,131290415760,2020-08-04T01:27:00Z,2020-08-04T02:00:00Z,2020-08-04T03:01:00Z,1368,"Metabolic Panel, Basic",NaN,POTASSIUM,4.0,4.0,mmol/L,Normal,3.5,5.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114089,131353634301,2023-06-01T06:28:00Z,2023-06-01T07:04:00Z,2023-06-01T08:05:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.5,3.5,mmol/L,Normal,3.5,5.5,NaN
26114151,131353634501,2023-06-01T07:38:00Z,2023-06-01T08:22:00Z,2023-06-01T09:06:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.8,3.8,mmol/L,Normal,3.5,5.5,NaN
26114205,131353634554,2023-06-01T07:01:00Z,2023-06-01T07:17:00Z,2023-06-01T08:19:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,4.2,4.2,mmol/L,Normal,3.5,5.5,NaN
26114291,131353634641,2023-06-01T07:14:00Z,2023-06-01T08:14:00Z,2023-06-01T08:54:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,4.7,4.7,mmol/L,Normal,3.5,5.5,NaN
26114337,131353634654,2023-06-01T08:09:00Z,2023-06-01T08:39:00Z,2023-06-01T09:36:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.8,3.8,mmol/L,Normal,3.5,5.5,NaN

In [18]:
(potassium_rows['Component_abnormal'].isna()).sum()

4262

In [9]:
potassium_filtered = potassium_rows.dropna(subset=['Component_abnormal'])

In [10]:
potassium_filtered

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
7,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.3,3.3,mmol/L,Abnormal Low,3.5,5.5,NaN
88,131290415760,2020-08-02T14:17:00Z,2020-08-02T14:29:00Z,2020-08-02T15:21:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.6,3.6,mmol/L,Normal,3.5,5.5,NaN
107,131290415760,2020-08-02T23:43:00Z,2020-08-03T00:42:00Z,2020-08-03T01:43:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.7,3.7,mmol/L,Normal,3.5,5.5,NaN
131,131290415760,2020-08-03T14:31:00Z,2020-08-03T15:08:00Z,2020-08-03T16:17:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.9,3.9,mmol/L,Normal,3.5,5.5,NaN
134,131290415760,2020-08-04T01:27:00Z,2020-08-04T02:00:00Z,2020-08-04T03:01:00Z,1368,"Metabolic Panel, Basic",NaN,POTASSIUM,4.0,4.0,mmol/L,Normal,3.5,5.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114089,131353634301,2023-06-01T06:28:00Z,2023-06-01T07:04:00Z,2023-06-01T08:05:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.5,3.5,mmol/L,Normal,3.5,5.5,NaN
26114151,131353634501,2023-06-01T07:38:00Z,2023-06-01T08:22:00Z,2023-06-01T09:06:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.8,3.8,mmol/L,Normal,3.5,5.5,NaN
26114205,131353634554,2023-06-01T07:01:00Z,2023-06-01T07:17:00Z,2023-06-01T08:19:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,4.2,4.2,mmol/L,Normal,3.5,5.5,NaN
26114291,131353634641,2023-06-01T07:14:00Z,2023-06-01T08:14:00Z,2023-06-01T08:54:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,4.7,4.7,mmol/L,Normal,3.5,5.5,NaN
26114337,131353634654,2023-06-01T08:09:00Z,2023-06-01T08:39:00Z,2023-06-01T09:36:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.8,3.8,mmol/L,Normal,3.5,5.5,NaN

In [12]:
abnormality_mapping = {
    'Normal': 0,
    'Critical High': 1,
    'Critical Low': 2,
    'Abnormal High': 3,
    'Abnormal Low': 4
}

# Assuming 'df' is your DataFrame
potassium_filtered['Component_abnormal_label'] = potassium_filtered['Component_abnormal'].map(abnormality_mapping)
potassium_filtered.head()

/tmp/ipykernel_2272/3250306537.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potassium_filtered['Component_abnormal_label'] = potassium_filtered['Component_abnormal'].map(abnormality_mapping)

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc,Component_abnormal_label
7,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,POTASSIUM,3.3,3.3,mmol/L,Abnormal Low,3.5,5.5,NaN,4
88,131290415760,2020-08-02T14:17:00Z,2020-08-02T14:29:00Z,2020-08-02T15:21:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.6,3.6,mmol/L,Normal,3.5,5.5,NaN,0
107,131290415760,2020-08-02T23:43:00Z,2020-08-03T00:42:00Z,2020-08-03T01:43:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.7,3.7,mmol/L,Normal,3.5,5.5,NaN,0
131,131290415760,2020-08-03T14:31:00Z,2020-08-03T15:08:00Z,2020-08-03T16:17:00Z,1368,"Metabolic Panel, Basic",Abnormal,POTASSIUM,3.9,3.9,mmol/L,Normal,3.5,5.5,NaN,0
134,131290415760,2020-08-04T01:27:00Z,2020-08-04T02:00:00Z,2020-08-04T03:01:00Z,1368,"Metabolic Panel, Basic",NaN,POTASSIUM,4.0,4.0,mmol/L,Normal,3.5,5.5,NaN,0

In [13]:
potassium_filtered.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/potassium_rows.csv')

## Calcium

In [14]:
calcium_row = label_rows_extract('calcium')

Number of unique CSNs with label calcium 139934
Levels of label calcium ['Normal' nan 'Abnormal Low' 'Abnormal' 'Abnormal High' 'Critical High'
 'Critical Low']

In [15]:
calcium_row.shape

(939145, 15)

In [16]:
(calcium_row['Component_abnormal'].isna()).sum()

305116

In [17]:
calcium_filtered = calcium_row.dropna(subset=['Component_abnormal'])
calcium_filtered

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
6,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,8.8,8.8,mg/dL,Normal,8.4,10.2,NaN
77,131290415760,2020-08-02T14:17:00Z,2020-08-02T14:29:00Z,2020-08-02T15:21:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,8.5,8.5,mg/dL,Normal,8.4,10.2,NaN
106,131290415760,2020-08-02T23:43:00Z,2020-08-03T00:42:00Z,2020-08-03T01:43:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,8.2,8.2,mg/dL,Abnormal Low,8.4,10.2,NaN
120,131290415760,2020-08-03T14:31:00Z,2020-08-03T15:08:00Z,2020-08-03T16:17:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,9.0,9.0,mg/dL,Normal,8.4,10.2,NaN
141,131290415760,2020-08-04T01:27:00Z,2020-08-04T02:00:00Z,2020-08-04T03:01:00Z,1368,"Metabolic Panel, Basic",NaN,CALCIUM,9.1,9.1,mg/dL,Normal,8.4,10.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26114109,131353634301,2023-06-01T06:28:00Z,2023-06-01T07:04:00Z,2023-06-01T08:05:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,9.8,9.8,mg/dL,Normal,8.4,10.5,NaN
26114144,131353634501,2023-06-01T07:38:00Z,2023-06-01T08:22:00Z,2023-06-01T09:06:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,8.3,8.3,mg/dL,Abnormal Low,8.4,10.5,NaN
26114196,131353634554,2023-06-01T07:01:00Z,2023-06-01T07:17:00Z,2023-06-01T08:19:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,9.8,9.8,mg/dL,Normal,8.4,10.5,NaN
26114263,131353634641,2023-06-01T07:14:00Z,2023-06-01T08:14:00Z,2023-06-01T08:54:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,9.3,9.3,mg/dL,Normal,8.4,10.5,NaN
26114341,131353634654,2023-06-01T08:09:00Z,2023-06-01T08:39:00Z,2023-06-01T09:36:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,9.4,9.4,mg/dL,Normal,8.4,10.5,NaN

In [18]:
abnormality_mapping = {
    'Normal': 0,
    'Abnormal': 1,
    'Critical High': 2,
    'Critical Low': 3,
    'Abnormal High': 4,
    'Abnormal Low': 5
}

calcium_filtered['Component_abnormal_label'] = calcium_filtered['Component_abnormal'].map(abnormality_mapping)
calcium_filtered.head()

/tmp/ipykernel_2272/4098850452.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_filtered['Component_abnormal_label'] = calcium_filtered['Component_abnormal'].map(abnormality_mapping)

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc,Component_abnormal_label
6,131290415760,2020-08-01T08:19:00Z,2020-08-01T08:27:00Z,2020-08-01T09:15:00Z,1369,"Metabolic Panel, Comprehensive",Abnormal,CALCIUM,8.8,8.8,mg/dL,Normal,8.4,10.2,NaN,0
77,131290415760,2020-08-02T14:17:00Z,2020-08-02T14:29:00Z,2020-08-02T15:21:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,8.5,8.5,mg/dL,Normal,8.4,10.2,NaN,0
106,131290415760,2020-08-02T23:43:00Z,2020-08-03T00:42:00Z,2020-08-03T01:43:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,8.2,8.2,mg/dL,Abnormal Low,8.4,10.2,NaN,5
120,131290415760,2020-08-03T14:31:00Z,2020-08-03T15:08:00Z,2020-08-03T16:17:00Z,1368,"Metabolic Panel, Basic",Abnormal,CALCIUM,9.0,9.0,mg/dL,Normal,8.4,10.2,NaN,0
141,131290415760,2020-08-04T01:27:00Z,2020-08-04T02:00:00Z,2020-08-04T03:01:00Z,1368,"Metabolic Panel, Basic",NaN,CALCIUM,9.1,9.1,mg/dL,Normal,8.4,10.2,NaN,0

In [19]:
calcium_filtered.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/calcium_rows.csv')

# PPG

## Lactic Acid

In [22]:
lactic_acid_row = label_rows_extract('lactate')

Number of unique CSNs with label lactate 48038
Levels of label lactate ['Abnormal High' 'Normal' 'Critical High' nan]

In [23]:
lactic_acid_row

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc
2136,131290418209,2020-08-01T09:19:00Z,2020-08-01T09:13:00Z,2020-08-01T09:13:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",2.87,2.87,mmol/L,Abnormal High,NaN,2.0,NaN
2154,131290418209,2020-08-01T14:20:00Z,2020-08-01T14:14:00Z,2020-08-01T14:14:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.32,1.32,mmol/L,Normal,NaN,2.0,NaN
2532,131290418630,2020-08-01T12:36:00Z,2020-08-01T12:30:00Z,2020-08-01T12:30:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.72,1.72,mmol/L,Normal,NaN,2.0,NaN
2604,131290418755,2020-08-01T11:43:00Z,2020-08-01T11:37:00Z,2020-08-01T11:37:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",2.14,2.14,mmol/L,Abnormal High,NaN,2.0,NaN
2612,131290418755,2020-08-01T15:13:00Z,2020-08-01T19:56:00Z,2020-08-01T20:07:00Z,419036,"Lactate, Whole Blood",Normal,LACTATE.WHOLE BLD,1.8,1.8,mmol/L,Normal,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26113894,131353634216,2023-06-01T07:00:00Z,2023-06-01T06:55:00Z,2023-06-01T06:55:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.84,1.84,mmol/L,Normal,NaN,2.0,NaN
26113977,131353634234,2023-06-01T06:42:00Z,2023-06-01T06:38:00Z,2023-06-01T06:38:00Z,1213,POCT Venous Blood Gases And Lactate,Critical,"POC:LACTATE, ISTAT",1.21,1.21,mmol/L,Normal,NaN,2.0,NaN
26113980,131353634234,2023-06-01T06:50:00Z,2023-06-01T06:45:00Z,2023-06-01T06:45:00Z,1213,POCT Venous Blood Gases And Lactate,Critical,"POC:LACTATE, ISTAT",1.31,1.31,mmol/L,Normal,NaN,2.0,NaN
26114008,131353634234,2023-06-01T10:27:00Z,2023-06-01T10:23:00Z,2023-06-01T10:23:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.39,1.39,mmol/L,Normal,NaN,2.0,NaN
26114255,131353634554,2023-06-01T07:24:00Z,2023-06-01T07:21:00Z,2023-06-01T07:21:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.13,1.13,mmol/L,Normal,NaN,2.0,NaN

In [24]:
lactate_filtered = lactic_acid_row.dropna(subset=['Component_abnormal'])

In [25]:
abnormality_mapping = {
    'Normal': 0,
    'Critical High': 1,
    'Abnormal High': 2
}
lactate_filtered['Component_abnormal_label'] = lactate_filtered['Component_abnormal'].map(abnormality_mapping)
lactate_filtered.head()

/tmp/ipykernel_2272/3903930655.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lactate_filtered['Component_abnormal_label'] = lactate_filtered['Component_abnormal'].map(abnormality_mapping)

,CSN,Order_time_LAB,Collection_time,Result_time,Proc_code,Display_name,Abnormal,Component_name,Component_result,Component_value,Component_units,Component_abnormal,Component_nml_low,Component_nml_high,Component_grp_desc,Component_abnormal_label
2136,131290418209,2020-08-01T09:19:00Z,2020-08-01T09:13:00Z,2020-08-01T09:13:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",2.87,2.87,mmol/L,Abnormal High,NaN,2.0,NaN,2
2154,131290418209,2020-08-01T14:20:00Z,2020-08-01T14:14:00Z,2020-08-01T14:14:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.32,1.32,mmol/L,Normal,NaN,2.0,NaN,0
2532,131290418630,2020-08-01T12:36:00Z,2020-08-01T12:30:00Z,2020-08-01T12:30:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",1.72,1.72,mmol/L,Normal,NaN,2.0,NaN,0
2604,131290418755,2020-08-01T11:43:00Z,2020-08-01T11:37:00Z,2020-08-01T11:37:00Z,1213,POCT Venous Blood Gases And Lactate,Abnormal,"POC:LACTATE, ISTAT",2.14,2.14,mmol/L,Abnormal High,NaN,2.0,NaN,2
2612,131290418755,2020-08-01T15:13:00Z,2020-08-01T19:56:00Z,2020-08-01T20:07:00Z,419036,"Lactate, Whole Blood",Normal,LACTATE.WHOLE BLD,1.8,1.8,mmol/L,Normal,NaN,2.0,NaN,0

In [26]:
lactate_filtered.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/lactate_rows.csv')

## RR

In [20]:
vs = pd.read_csv('vs_comb_2023_09_11.csv')

In [21]:
vs.head()

            CSN                  Time  Value Measure Source
0  131290415760  2020-08-01T07:21:00Z   96.0      HR  Chart
1  131290415760  2020-08-01T07:25:00Z   87.0      HR  Chart
2  131290415760  2020-08-01T07:30:00Z   87.0      HR  Chart
3  131290415760  2020-08-01T08:00:00Z   90.0      HR  Chart
4  131290415760  2020-08-01T08:30:00Z   88.0      HR  Chart

In [27]:
RR = vs[vs['Measure']=='RR']
RR

                   CSN                  Time  Value Measure Source
10        131290415760  2020-08-01T07:21:00Z   21.0      RR  Chart
11        131290415760  2020-08-01T07:25:00Z   20.0      RR  Chart
12        131290415760  2020-08-01T07:30:00Z   18.0      RR  Chart
13        131290415760  2020-08-01T08:00:00Z   22.0      RR  Chart
14        131290415760  2020-08-01T08:30:00Z   19.0      RR  Chart
...                ...                   ...    ...     ...    ...
74105551  131353634554  2023-06-01T13:00:00Z   19.0      RR  Chart
74105848  131353634641  2023-06-01T06:57:00Z   20.0      RR  Chart
74106032  131353634654  2023-06-01T06:59:00Z   16.0      RR  Chart
74106033  131353634654  2023-06-01T09:46:00Z   18.0      RR  Chart
74106034  131353634654  2023-06-01T11:00:00Z   16.0      RR  Chart

[10172175 rows x 5 columns]

In [28]:
RR.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/RR_rows.csv')

## BP (SBP/DBP)

In [32]:
sbp_rows = vs[vs['Measure']=='SBP']
sbp_rows

                   CSN                  Time  Value Measure   Source
30        131290415760  2020-08-01T07:21:00Z  191.0     SBP    Chart
31        131290415760  2020-08-01T07:25:00Z  192.0     SBP    Chart
32        131290415760  2020-08-01T08:00:00Z  171.0     SBP    Chart
33        131290415760  2020-08-01T08:45:00Z  193.0     SBP    Chart
34        131290415760  2020-08-01T09:00:00Z  167.0     SBP    Chart
...                ...                   ...    ...     ...      ...
74106135  131353634654  2023-06-01T06:59:00Z  140.0     SBP    Chart
74106136  131353634654  2023-06-01T09:46:00Z  112.0     SBP  Monitor
74106137  131353634654  2023-06-01T10:01:00Z  117.0     SBP  Monitor
74106138  131353634654  2023-06-01T10:02:00Z  117.0     SBP    Chart
74106139  131353634654  2023-06-01T11:00:00Z  115.0     SBP    Chart

[1662563 rows x 5 columns]

In [33]:
sbp_rows.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/SBP_rows.csv')

In [35]:
dbp_rows = vs[vs['Measure']=='DBP']
dbp_rows

                   CSN                  Time  Value Measure   Source
37        131290415760  2020-08-01T07:21:00Z   81.0     DBP    Chart
38        131290415760  2020-08-01T07:25:00Z   89.0     DBP    Chart
39        131290415760  2020-08-01T08:00:00Z  100.0     DBP    Chart
40        131290415760  2020-08-01T08:45:00Z   92.0     DBP    Chart
41        131290415760  2020-08-01T09:00:00Z   78.0     DBP    Chart
...                ...                   ...    ...     ...      ...
74106140  131353634654  2023-06-01T06:59:00Z   88.0     DBP    Chart
74106141  131353634654  2023-06-01T09:46:00Z   90.0     DBP  Monitor
74106142  131353634654  2023-06-01T10:01:00Z   84.0     DBP  Monitor
74106143  131353634654  2023-06-01T10:02:00Z   84.0     DBP    Chart
74106144  131353634654  2023-06-01T11:00:00Z   80.0     DBP    Chart

[1662563 rows x 5 columns]

In [36]:
dbp_rows.to_csv('/home/ubuntu/ED_processed/waveform/consolidated/DBP_rows.csv')